.header {
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:$header-height;
	background:#333;

	& .title {
		color: #eee;
		font-weight: bold;
		line-height: 40px;
		padding: 5px 20px;
	}
}

.sidebar {
	position:absolute;
	top:$header-height;
	bottom:0;
	left:0;
	width:$sidebar-width;
	background:#162228;
}

.editor {
	position:absolute;
	left:$sidebar-width;
	right:0;
	top:$header-height;
	bottom:0;

	& .ReactCodeMirror {
		position:absolute;
		top:0;
		bottom:50px;
		left:0;
		right:0;
	}
	& .CodeMirror {
		height: 100%
	}

	& .statusbar {
		position:absolute;
		bottom:0;
		height: 50px;
		left: 0;
		right: 0;
		background:#162228;

		& .message {
			position:absolute;
			height:30px;
			line-height:30px;
			left:20px;
			bottom:10px;
			margin-bottom:0;
		}

		& .btn_save {
			position:absolute;
			right:20px;
			bottom:10px;
			height:30px;
			padding:0 10px;
		}
	}
}
