.sidebar {
	& ul {
		margin:0
	}
	& .item {
		display:block;
		padding:10px;
		text-decoration:none;
		color:#aaa;
		cursor:pointer;

		& .item_title {
			display:block;
			font-size:14px;
		}
		& .item_date {
			display:block;
			font-size:11px;
		}
		& .item_content {
			display:block;
			font-size:12px;
		}
		&:hover,
		&.selected {
			background:#263238;
			color:#ccc;
		}
	}

	& .btn_add {
		display:block;
		color:#aaa;
		cursor:pointer;
		font-size:12px;
		text-align:center;
		padding:10px;
		text-decoration:none;

		&:hover {
			background:#263238;
			color:#ccc;
		}
	}
}
